*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: wobbles;
    src: url(/fonts/wobbles.ttf);
}

@font-face {
    font-family:plasdrip;
    src: url(/fonts/plasdrip.ttf);
}

/*------------------------------------------header----------------------------------------*/
header{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 4.4rem;
    background-color: rgb(23, 23, 23);
    display: flex ;
    justify-content: space-between;
    align-items: center;

}

#menu-icon {
    display: none; /* Hide the menu icon by default on larger screens */
}


.navbar{
    list-style: none;
    display: flex;
    text-decoration: none;
    padding: 10px 22px;
    position: sticky;
    top: 0;

}

.logo-pic{
    height: 2.5rem;
    padding-left: 1rem;
}
.nav-list-mobile{
    display: none;
}

.nav-link {
    font-size: 1.2rem;
    color: white;
    padding: 0 1.3rem;
    font-family: 'Anton', sans-serif;
    position: relative;
    display: inline-block;
}

.nav-link::after {
    content: "";
    opacity: 0;
    background: white;
    position: absolute;
    left: 50%; 
    bottom: -5px;
    transform: translateX(-50%);
    width: 0; 
    height: 2px;
}

.nav-link:hover::after {
    width: 75%; 
    opacity: 0.7;
}


.s-icons{
    padding:10px 22px ;
    background-color: gray;
    border-radius: 5rem;
    margin-right: 3.6rem;
    margin-left: 8px ;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;

}
.nav-link-cart{
    margin:0  15px;
}


.cart-icon {
    position: relative;
}

.cart-icon .fa-shopping-cart {
    font-size: 27px;
    color: #333; 
}

#cartItemCount {
    display: none;
}

.cart-icon .cart-item-count {
    position: absolute;
    top: -15px;
    right: 0;
    background-color: #ff8c00; 
    color: #fff; 
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
}

.cart-item-image{
    width: 80px;
    margin-left: 10px;
   

}

.nav-link-user{
    margin-left: 10px;
}

.cart-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 40px;
    list-style: none;
    display: none;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 10px; 
}
.cart-item-image {
    width: 80px; 
    margin-right: 10px; 
}

.product-details {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.product-name, .product-price {
    flex-grow: 1;
    font-family: 'Rajdhani';

    
}

.product-name {
    font-size: 18px; 
    padding-right: 20px;
    font-family: 'Rajdhani';
    font-weight: 600;
}


.product-price {
    font-size: 16px; 
    padding-right: 15px;
}


.remove-icon {
    cursor: pointer;
}

.cartTotal{
    text-align: end;
    padding-top: 10px;
    font-family: 'Rajdhani';
}

.cart-dropdown.show {
    display: block;
}

/*------------------------------------------First-Section----------------------------------------*/


.sneaker-show{
    margin-top: 8rem;
    height: 38rem;
    margin-bottom: 3rem;

} 

.cherrys{
    height:37rem;
}


.first-block{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}


h1{
    font-size: 3.6rem;
    font-family: 'wobbles';
}

h1 span{
    color:#B32824 ;
}

.right{
    margin-top: 4.5rem;
    padding: 0 4.6rem; 
    
}
.right p{
    margin: 1rem 0;
    line-height: 2rem;
    font-weight:600;
    font-family: "Rajdhani";
    font-size: 1.2rem;
   
    
}

.right p span{
    font-weight: 500;
}


.shop-btn{
    padding: 10px 10px;
    background-color: #B32824;
    border-radius: 5px;
    color: white;
    font-family: 'Rajdhani';
    font-weight: 1000;
    letter-spacing:2px;
    font-size: 1rem;
}

/*------------------------------------------feature-section-------------------------------------*/

.features {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color:#e8e8e8;
    margin-bottom: 3rem;

}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 1px solid rgb(255, 255, 255); 
    padding: 20px 0;

}

.feature:last-child {
    border-right: none;
}
  

.f-icon{
    height: 4.5rem;
    color: #B32824;
    margin-bottom: 5px;
}

.featureTitle{
    font-weight: 900;
    margin-bottom: 1rem;
    font-family: 'Rajdhani';
    font-size: 1.4rem;
}

.featureDesc {
    font-family: 'Rajdhani';
    color: gray;
    width: 50%;
    height: 70px;
}

  


/*--------------------------------second-section------------------------------------------------*/

#Sneakers {
    padding-top: 82px; 
}
  

.sneakers-options{
    height: 60rem;
    padding: 0 25px;
    margin-bottom: 8.7rem;

}

.title-sneakers{
    font-family: 'wobbles';
    text-align: center;
    font-size: 3.3rem;
    margin-bottom: 5rem;

}

h2 span{
    color: #B32824;
}

.box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:15px;
    margin-bottom: 2rem;
   
}

.box{
    padding: 20px;
    border-radius: 1.7rem;
    margin-bottom: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
    background-color: #fff; 
    position: relative;
}

.content h3{
    margin-bottom: 8px;
    font-family: 'Rajdhani';
    font-weight: 800;

}

.icons {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: .9rem;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: left 0.3s ease, visibility 0s 0.3s, opacity 0.3s;
}

.box:hover .icons {
    left: 1rem;
    visibility: visible;
    opacity: 1;
}


.three-icons{
    color: rgb(111, 111, 111);
    margin-bottom: 5px;
    width: 5rem;
    line-height: 1rem;
    
    
}



.price{
    margin-bottom: 5px;
    font-family: 'Rajdhani';
    
}

.fa-star{
    color: gold;
    text-align: center;
    margin-bottom: 1rem;
    border: 1px;
}

.sneaker-img{
    height: 8rem;
    margin-bottom: 1rem;
    margin-top: 2.3rem;
}
.content{
    text-align: center;
}

.btn-cart{
    padding: 8px 15px;
    border-radius: .5rem;
    background-color: #B32824;
    color: #e8e8e8;

}

/*----------------------------------------------Map-------------------------------------------------*/

#Location {
    padding-top: 90px;
    background-color: #E8E8E8;
    height: 50rem;
}

.h2-Location {
    font-family: 'wobbles';
    text-align: center;
    font-size: 3.3rem;
    margin-bottom: 1rem;
}

.h2-Location span{
    color: #B32824;
}

.location-container{
    padding: 35px;
}


.map-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px; 
    padding: 3rem;
    margin-top: 2rem;
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}



.map {
    border-radius: 10px;
    width: 100%; 
}

.right-text{
    font-family: 'Rajdhani';
    font-weight: 300;
    
}

.location-p{
    text-align: center;
}

.store-Hours {
    text-align: center;
    padding-top: 30px;
    font-size: 1.2rem;
}

.days-hours-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    padding: 3rem;
    margin-top: 2rem;
    text-align: center;
    background-color: #fff;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.days {
    margin-right: 30px;
}


.hours {
    text-align: center;
    color: #333;
}

.days-hours {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.day-bold{
    font-weight: 600;
}
/*-----------------------------------------Customer-Reviews-----------------------------------------*/


.h2-customer{
    font-family: 'wobbles';
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;

}


.customer-review{
    padding-top: 20px;
    height: 40rem;
    margin-top: 1rem;
    margin-bottom: 10rem;
   

}


.h2-customer{
    margin-top: 5rem;
}

.h2-customer span{
    color:  #B32824;
}
.customer-container{
    padding: 0 40px;
}

.c-box{
    margin-top: 5rem;
    text-align: center;
    position: relative;
    padding: 70px 20px 20px;
    border: 7px solid black;
    border-radius: 1.7rem;
    background-color: #E8E8E8;
}

.c-box:hover,
.c-box:active {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s, box-shadow 0.3s; /* Add a transition for a smoother effect */

}

.c-box p{
    margin-bottom: 1rem;
    color:black;
    padding: 0 20px;
    font-family: 'Rajdhani';
  

}

.c-box h3{
    font-family: 'Anton', sans-serif;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}
.review-pic{
    top: -75px;
    height: 7.2rem;
    position: absolute;
    left: calc(50% - 60px);
    text-align: center;
    border: 7px solid black;
    border-radius: 50%;
    background-color: #B32824;
    
}

.customer-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:45px;
       

}



.other-stars{
    color:  gold;
}


  
/*----------------------------------------Contact------------------------------*/

.contact{
    height: 15rem;
    background-color: #E8E8E8;

}
.contact{
    padding: 50px 15% 40px;
}

.main-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto)) ;
    justify-content: center;
    gap: 2rem;
}

.contact-content h4{
    font-size: 20px;
    margin-bottom:1.5rem;
    text-align: center;
    font-family: 'Anton';
}

.contact-content li{
    margin-bottom: 1rem;
    
    

}
.contact-content li a{
    display:block;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    transition: all .40s ease;
    color: black;
    font-family: 'Rajdhani';

    

}

.contact-content li a:hover{
    transform: translateX(10px);
    color:black; 

}

.last-text p{
    text-align: center;
    padding: 25px;
    font-size: 15px;
    letter-spacing: 1px;
    

}




.last-text{
    background-color:  #E8E8E8;
    color:black;
    font-family: 'Anton';
    height: 4rem;
    letter-spacing: 2px;
}

/*---------------------------------------- Responsiveness------------------------------------------------*/



@media only screen and (max-width: 767px) {
    

/*---------------------------------------- Header------------------------------------------------*/


    header {
        height: 3rem;
    }



    #menu-icon{
        display: block;
        cursor: pointer;
        color: #E8E8E8;
    }

    .navbar {
        padding: 10px;
    }

    .nav-link-hidden{
        display: none;
        position: absolute;
        top: 45px; /* Adjust top position based on your header height */
        left: 0;
        width: 100%;
        background-color: #333;
        opacity: 0.9;
        z-index: 1;
    }

    .nav-link-hidden.active {
        display: block;
    }

    .nav-link-hidden li {
        padding: 15px;
        text-align: center;
    }
    


    #menu-icon{
        font-size: 1.5rem;
    }

    .logo-pic {
        height: 2rem;
        padding-left: 0.5rem; 
    }

    .nav-list-mobile {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 4.4rem;
        left: 0;
        right: 0;
        background-color: rgb(23, 23, 23);
        display: none;
    }

    .nav-link {
        display: block;
        padding: 1rem;
    }

    .nav-link::after {
        bottom: 0;
    }
    

    .nav-link:hover::after {
        width: 25%; 
        opacity: 0.7;
    }
    

    .s-icons {
        padding: 10px;
        margin-right: 1rem;
        font-size: 15px;

    }

    .cart-icon .fa-shopping-cart {
        font-size: 20px;
    }

    .cart-item-count {
        top: -10px;
        right: -5px;
        font-size: 7px;
        padding: 2px 5px;
    }

    .cart-dropdown {
        padding: 10px;
    }


    .features{
        height:36rem;
    }

/*----------------------------Sneaker-Show-------------------------------*/

    .first-block{
        grid-template-columns: 1fr;
    }

    .right{
        margin-top: 1.5rem;
        padding: 0 2rem; 
        
    }

    .sneaker-show{
        height: 65rem;
        margin-top: 2rem;
    }

    .cherrys{
        height:24rem;
        margin-top: 2rem;
    }



/*----------------------------Sneakerssss-------------------------------*/

    .sneaker-img{
        height: 5rem;
        margin-bottom: 1rem;
        margin-top: 2.3rem;
    }

    .sneakers-options{
        height: 115rem;
    }


/*----------------------------Location-------------------------------*/


    #Location {
        padding-top: 90px;
        background-color: #E8E8E8;
        height: 80rem;
    }

    .map-container {
        grid-template-columns: 1fr;
    }

    .days-hours-container {
        grid-template-columns: 1fr; 
    }

    .box {
        padding: 15px;
    }

    .features {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .feature {
        padding: 15px 0;
    }

    .sneakers-options {
        padding: 0 10px;
    }

    .title-sneakers {
        margin-bottom: 3rem;
    }

    .box-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

/*----------------------------Location-------------------------------*/

    .customer-review{
        height: 95rem;
    
    }
    .c-box:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    

/*----------------------------Contact-------------------------------*/

    .contact {
        padding: 20px 5% 20px;
        height: 31rem;
    }

    .last-text p{
        text-align: center;
        padding: 10px;
        font-size: 15px;
        letter-spacing: 1px;
        
    
    }
    

    
}

@media (hover: hover) {
    .c-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s, box-shadow 0.3s; /* Add a transition for a smoother effect */

}

}